.container {
    max-width: 1168px;
    margin:0 auto;
}

%title-section{
    font-size: 40px;
    font-weight: 400;
    color: #333333;
    margin: 0;
}

%subtitle-section{
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #666666;
    margin: 0;
}

