$WHITE: white;
$ALMOST-WHITE:#f1f1f1;
$DARK-GREY:#333333;
$LIGHT-GRAY:#666666;
$LIGHT-GRAY2: #999999;
$LIGHT-GRAY3: #A6A6A6;
$WHITE-GRAY:#bebebe;
$WHITE-GRAY2:#cccccc;
$DARK-YELLOW:#cc9933;
$YELLOW:#ffcc66;
$BLUE: blue;
$LIGHT-BLUE:#2786F5;
$BLACK: black;

.container {
    width: 1198px !important;
    margin:0 auto;
}

%title-section{
    font-size: 40px;
    font-weight: 400;
    color: #333333;
    margin: 0;
}

%subtitle-section{
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #666666;
    margin: 0;
}

address{
    font-style:normal;
}

