.advantages {
    margin-bottom: 70px;

    &__title {
        @extend %title-section;
        margin-left: 42px;
        margin-bottom: 22px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        position: relative;
        background-color: $WHITE;
        width: 25%;
        max-width: 260px;
        max-height: 290px;
        padding: 123px 20px 40px 44px;
        margin-bottom: 24px;
        border-radius: 12.0px;

        &:nth-child(n+5){
            margin-bottom: 0;
        }

        &:nth-child(4n){
            margin-right: 0;
        }


        &:nth-child(1)::before{
            content: '';
            @extend %advantages_1;
            @extend %svg-size-section-4;
            @extend %svg-position-section-4;
        }

        &:nth-child(2)::before{
            content: '';
            @extend %advantages_2;
            @extend %svg-size-section-4;
            @extend %svg-position-section-4;
        }

        &:nth-child(3)::before{
            content: '';
            @extend %advantages_3;
            @extend %svg-size-section-4;
            @extend %svg-position-section-4;
        }

        &:nth-child(4)::before{
            content: '';
            @extend %advantages_4;
            @extend %svg-size-section-4;
            @extend %svg-position-section-4;
        }

        &:nth-child(5)::before{
            content: '';
            @extend %advantages_5;
            @extend %svg-size-section-4;
            @extend %svg-position-section-4;
        }

        &:nth-child(6)::before{
            content: '';
            @extend %advantages_6;
            @extend %svg-size-section-4;
            @extend %svg-position-section-4;
        }

        &:nth-child(7)::before{
            content: '';
            @extend %advantages_7;
            @extend %svg-size-section-4;
            @extend %svg-position-section-4;
        }

        &:nth-child(8)::before{
            content: '';
            @extend %advantages_8;
            @extend %svg-size-section-4;
            @extend %svg-position-section-4;
        }
    }



    &__svg {
        max-width: 59px;
        max-height: 70px;
        fill: $BLUE;
    }

    &__subtitle {
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
        color: $DARK-GREY;
    }
}
