.hotel-registration {
    display: flex;
    margin-bottom: 69px;
}

.fast-reservation {
    width: 50%;

    &__tilte {
        @extend %title-section;
        margin-bottom: 21px;
    }

    &__form{
      display: flex;
      flex-direction: column;
    }

    &__input {
        max-width: 518px;
        background-color: $WHITE;
        border: 1px solid $WHITE;
        border-radius: 12.0px;
        margin-bottom: 24px;

        padding: 27px 21px;

        outline: none;

        &::placeholder{
            font-size: 16px;
            font-weight: 400;
            color: $LIGHT-GRAY2;
        }

        &:last-child{
            margin-bottom: 0;
        }
    }

    &__castom-select{
        margin-bottom: 20px;
    }

    &__list {
        max-width: 518px;
        width: 100%;
        background-color: $WHITE;
        border: 1px solid $WHITE;
        border-radius: 12.0px;
        margin-bottom: 24px;

        padding: 27px 21px;

        outline: none;

    }

    &__btn {
        max-width: 160px;
        background-color: $DARK-YELLOW;
        border: 1px solid $DARK-YELLOW;
        border-radius: 12.0px;
        cursor: pointer;

        white-space: nowrap;
        outline: none;

        margin-right: 30px;
        padding: 27px 30px;

        font-size: 16px;
        font-weight: 700;
        color: $WHITE;

        transition: transform 0.3s;

        &:hover{
            transform: scale(1.1);
            transition: transform 0.3s;
        }
    }

    &__offers {
        font-size: 16px;
        font-weight: 400;
        color: $LIGHT-GRAY2;
    }

    &__offers-number {
        font-size: 16px;
        font-weight: 400;
        color: $DARK-YELLOW;
    }
}

/* выпадающий список */

$background: $WHITE;
$select-color: $LIGHT-GRAY2;
$select-color-active: $BLACK;
$select-background: $WHITE;
$select-background-hover: $LIGHT-BLUE;
$select-width: 518px;
$select-height: 70px;
$select-border-radius: 12.0px;
$select-border-color: $LIGHT-GRAY3;
$select-border-color-hover: $LIGHT-BLUE;
$select-border: 1px solid $WHITE;
$select-padding: 0 60px 0 16px;


/* SELECT */

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select-active{
    color:$select-color-active !important;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 15px;
  width: $select-width;
  height: $select-height;
}
.select-styled {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $select-background;
  color: $select-color;
  border-radius: $select-border-radius;
  border: $select-border;
  padding: $select-padding;
  line-height:$select-height;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing:border-box;
  transform: transition(all 0.15s ease-in);
 
  &:hover {
    background-color: $select-background-hover;
    color: $select-background;
    &:after {
      color: $select-background;
      border-color: $select-background transparent transparent transparent;
    }
  }
  &:active, &.active {
    background-color: $select-background-hover;
    color: $select-background;
    &:after {
      top: 9px;
      border-color: transparent transparent $select-background transparent;
    }
  }
}

.select-options {
  display: none; 
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 6px 0 0 0;
  padding: 0;
  list-style: none;
  background-color: $select-background;
  box-shadow: 0 4px 18px rgba(171, 171, 171, .25);
  border-radius: $select-border-radius;
  overflow: hidden;
  li {
    margin: 0;
    padding: 12px 16px;
    border-bottom: 1px solid #EDEDED;
    transform: transition(all 0.15s ease-in);
    &:hover {
      color: $select-background;
      background: $select-background-hover;
      border-color: $select-background-hover;
    }
    &[rel="hide"] {
      display: none;
    }
  }
  li:last-child{
    border-bottom:none;
  }
}

/* ----------------- */

.special-offer {
    width: 50%;

    &__title {
        @extend %title-section;

        margin-bottom: 21px;
    }

    &__content {
        position: relative;
        padding: 280px 0 35px 40px;
    }

    &__img {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
    }

    &__title-content {
        position: relative;
        z-index: 2;

        width: 45%;

        margin: 0;
        margin-bottom: 43px;


        font-size: 66px;
        line-height: 58px;
        font-weight: 700;
        color: $WHITE;
    }

    &__price {
        position: relative;
        z-index: 2;

        margin-right: 43px;

        opacity: 0.49;
        font-size: 35px;
        font-weight: 400;
        color: $WHITE;
    }

    &__info {
        position: relative;
        display: inline-block;

        padding-right: 20px;

        font-size: 16px;
        font-weight: 400;
        color: $YELLOW;

        transition: transform 0.3s;

        &:hover{
            transform: scale(1.1);
            transition: transform 0.3s;
        }

        &::after{
          content: '';
          @extend %arrow-right-section-1;

          position: absolute;
          top: 0;
          right: 0;

          padding: 7.5px;

          transform: rotate(90deg);
        }
    }
}
