.about-us {
    padding-left: 42px;
    margin-bottom: 66px;

    &__row{
        &:not(:last-child){
            margin-bottom: 27px;
        }
    }

    &__title {
        @extend %title-section;
    }

    &__subtitle {
        @extend %subtitle-section;
    }
}
